<section>
  <div class="container">
  <div class="row postShowSection">
    <div class="col-lg-6 col-xs-12">
      <div class="show-img" style="background-image:url('{{ postsShow.post.image }}')"></div>
    </div>
    <div class="col-lg-6 col-xs-12 captionUsernameSection">
      <a ui-sref="usersShow ({id: main.currentUser })"><h4 class="postsShowCaption">{{ postsShow.post.caption }}</h4>
      <h6 ui-sref="usersShow ({id: main.currentUser })">{{ postsShow.post.user.username }}</h6></a>

      <a ng-if="postsShow.isLoggedIn()" ui-sref="postsEdit({ id: postsShow.post.id })" class="btn btn-primary" ng-show="postsShow.isCurrentUser">Edit</a>
      <button class="btn btn-danger" ng-if="postsShow.isLoggedIn()" ng-click="postsShow.delete()" ng-show="postsShow.isCurrentUser">Delete</button>
      <h6 class="commentsTitle">Comments</h6>
      <hr>
      <ul ng-controller="PostsShowController as postsShow">
        <li class="commentListItems" ng-repeat="comment in postsShow.post.comments">
          <!-- <img class="circle" style="float: left;" ng-src="comment.user.image"> -->
          <!-- <button ng-click="postsShow.destroyComment(comment)" style="float: right;">X</button> -->
          <h6>{{ comment.body }} </h6> <p style="font-size: 14px;"><em> Posted by: {{ comment.user.username }} </em></p></li>
      </ul>
      <div ng-controller="CommentsNewController as commentsNew">
        <form ng-submit="commentsNew.create()">
          <input type="hidden" name="user_id" ng-model="commentsNew.comment.user_id">
          <!-- <input type="hidden" name="post_id" ng-model="commentsNew.comment.post_id"> -->
          <input type="text" name="body" placeholder="Post a comment..." ng-model="commentsNew.comment.body" class="u-full-width commentInput">
          <!-- <button class="btn btn-primary commentBtn">Comment</button> -->
        </form>

      </div>
    </div>
  </div>
</div>








</section>
