<section>
  <div class="card userCard">
    <div class="card-block">
      <h4 class="card-title">{{ usersShow.user.username }}</h4>
      <p class="card-text">{{ usersShow.user.email }}</p>
      <a ng-if="usersShow.isLoggedIn()" ui-sref="usersEdit({ id: usersShow.user.id })" class="btn btn-primary">Edit</a>
      <a ng-if="usersShow.isLoggedIn()" ng-click="usersShow.delete()" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <img class="postImg" ng-src="{{ post.image }}" alt="Card image">
</section>
