<section>
  <h1 class="UsersShowHeader">Users</h1>
  <ul class="list-group" ng-repeat="user in usersIndex.all">
    <a ui-sref="usersShow({ id: user.id })">
    <!-- <img class="card-img-top" ng-src="{{ user.posterImage }}"  alt="Card image cap"> -->
      <li class="list-group-item">{{ user.username }}</li>

      <!-- <p class="card-text">{{ user.email }}</p> -->
      </a>
  </ul>


  <!-- <ul>
    <li ng-repeat="user in usersIndex.all">
      <a ui-sref="usersShow({ id: user.id })">
      <img ng-src="{{ user.posterImage }}" class="u-max-full-width">
      <h2>{{ user.username }}</h2>
      <h4>{{ user.email }}</h4>
      </a>
    </li>

</section>
