<section>
  <div class="card userCard">
    <div class="card-block">
      <h4 class="card-title">{{ usersShow.user.username }}</h4>
      <p class="card-text">{{ usersShow.user.email }}</p>
      <a ng-if="usersShow.isLoggedIn()" ui-sref="usersEdit({ id: usersShow.user.id })" class="btn btn-primary">Edit</a>
      <a ng-if="usersShow.isLoggedIn()" ng-click="usersShow.delete()" class="btn btn-danger">Delete</a>
    </div>
  </div>

  <ul class="usersPostsUl">
    <li class="col-md-4" ng-repeat="post in usersShow.user.posts">
      <div class="card profilePageCard col-md-12">
        <img class="card-img-top profileImgShow" src="{{ post.image }}" alt="Card image cap">
        <div class="card-block">
          <p class="card-text">{{ post.caption }}</p>
          <button class="likeBtn"><img src="../images/heart.png" alt="" class="viewPostBtn" type="submit">{{post.likes_length}}</button>
          <a ui-sref="postsShow({ id: post.id })"><img class="commentIcon" src="../images/comment.png" alt=""></a>
        </div>
      </div>
    </li>
  </ul>
</section>
